{% extends 'base.html.twig' %}

{% block title %} {{ post.name }} {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <p><a class="btn btn-success" href="{{ path('post_store') }}">Add new</a></p>

                <div class="card">
                    <div class="card-header">
                        {{ post.name }}
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>{{ post.content }}</p>
                            <footer class="blockquote-footer">Created at: <cite title="{{ post.createdAt | date("H:i d.m.Y") }}">{{ post.createdAt | date("H:i d.m.Y") }}</cite>
                            </footer>
                        </blockquote>
                        {% if (post.attachment) %}
                            <img class="img-thumbnail rounded float-right" width="10%" src="{{ vich_uploader_asset(post, 'attachmentFile') }}" alt="{{ post.name }}" />
                        {% endif %}
                    </div>
                </div>

                <p class="p-2 float-right">
                    <a class="btn btn-primary" href="{{ path('post_edit', {'id':post.id}) }}">Update</a>
                    <a class="btn btn-danger" href="{{ path('post_remove', {'id':post.id}) }}">Delete</a>
                </p>
            </div>
            <div class="col-md-12 m-2">
                {% include 'AppBundle:comment:_form.html.twig' with { 'id': post.id, 'type': type } %}
            </div>
            <div class="col-md-12 m-4 p-3" id="comments">
                {% include 'AppBundle:comment:_list.html.twig' with { 'comments': post.comments } %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

    <script src="{{ asset('js/comment.js') }}"></script>

{% endblock %}